.idea/
*build*/

#Build files
*.o
*.a

#Backup files 
*~
*.swp
*.layout
*#*
.*.cmd
*.orig

#Documentation directories and files
html/
latex/
tmp/
doc/classdiagramRawEvent.svg
ValgrindOut.xml
doc/
doxywarning.txt

#Compressed Files
*.bz2
*.tgz
*.tar.gz

#Ignore IDE files
*.cbp
*.layout
*.save
.idea/
.vscode
